.add-employee{
    text-align: center;
    color: blue;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field{
    margin: 10px 0px;
}
.add-btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 22px;
    cursor: pointer;
    border-radius: 3px;
}